CONFIG_TARGET_mediatek=y
CONFIG_TARGET_mediatek_filogic=y
CONFIG_TARGET_mediatek_filogic_DEVICE_cmcc_rax3000m=y

# Base
CONFIG_PACKAGE_base-files=y
CONFIG_PACKAGE_default-settings-chn=y

# LuCI
CONFIG_PACKAGE_luci=y

# Theme
CONFIG_PACKAGE_luci-theme-argon=y
CONFIG_PACKAGE_luci-app-argon-config=y

# Frpc
CONFIG_PACKAGE_frpc=y
CONFIG_PACKAGE_luci-app-frpc=y

# TTYD
CONFIG_PACKAGE_ttyd=y
CONFIG_PACKAGE_luci-app-ttyd=y

# OpenClash
CONFIG_PACKAGE_luci-app-openclash=y

# PassWall2
CONFIG_PACKAGE_luci-app-passwall2=y
CONFIG_PACKAGE_luci-app-passwall2_INCLUDE_Shadowsocks_Rust=y
CONFIG_PACKAGE_luci-app-passwall2_INCLUDE_Xray=y

# SSR-Plus
CONFIG_PACKAGE_luci-app-ssr-plus=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks_Rust_Client=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks_Rust_Server=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Xray=y

# UPnP
CONFIG_PACKAGE_luci-app-upnp=y

# Wireless
CONFIG_PACKAGE_wpad-openssl=y

# USB & Network
CONFIG_PACKAGE_kmod-usb3=y
CONFIG_PACKAGE_kmod-usb-net=y
CONFIG_PACKAGE_ip-full=y
CONFIG_PACKAGE_wget-ssl=y

# Crypto
CONFIG_PACKAGE_kmod-crypto-hw-safexcel=y
